<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <menu>
      <div>Option1</div>
      <div>Option2</div>
      <div>Option2</div>
    </menu>
    {{{body}}}
  </body>
</html>
